{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="{% static 'numtrans/css/styleinstr.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">
<style>

h1 {
  font-family: Ubuntu, sans-serif;
}
</style>
    <title>Instruction</title>
  </head>
  <body>
  <div class="contmain">
    <img src="{% static 'numtrans/pic/statue.png' %}" alt="statue" style="align-self: flex-start">
  <div class="text">
    <h1>Инструкция к использованию</h1>
    <pre>

      1. Перевод числа

      Для того, чтобы произвести перевод числа, необходимо
      выбрать всписке раздел "Произвести перевод".
      Затем в поле для ввода числа необходимо ввести
      целочисленное значение.Следующим шагом является выбор
      системы счисления, в которой в данный момент находится
      число. Затем выберите систему счисления, из которой
      необходимо перевести число.
      Перепроверте данные на корректность.
      Затем программа сделает это повторно.
      При наличии ошибки, программа скажет что не так.
      При прохождению проверки, программа выдаст вам
      желаемый результат.

      2. Просмотр информации о программе

      Для того, чтобы просмотреть информацию о программе
      необходимо выбрать вкладку "О программе" и
      откроется новое окно с инфомации о программе.
    </pre>
</div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>